header {
  font-size: 2em;
}

.name {
  font-family: 'Faster One', cursive;
}

.slogan {
  font-family: 'Kavivanar', cursive;
}

.sense {
   font-family: 'Courgette', cursive;
}

.summary {
  font-family: 'Courgette', cursive;
}

.fa {
  font-size: 8em;
}

.fa-github {
  padding: 0px; font-size: 12em; margin: 0;
}

.slogan {
  font-size: 1.1em;
}

.blog {
      /* Old browsers */
  background: #141E30;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(-45deg, #35577D, #141E30);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(-45deg, #35577D, #141E30);
  color: white;
}

#___ytsubscribe_0 {
	  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#___ytsubscribe_0 > {
	  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
	left: 0;
}

h1 {
  font-size: 1em;
  font-weight: bold;
}

hr {
  border-bottom: 17px solid #000;
}

.featured-image-block-grid-header {
  margin-left: auto;
  margin-right: auto;
}

.destinations-slogan {
	margin-top: 1em;
  font-style: italic;
  font-weight: 800;
  color: #7d97ad;
}

.featured-image-block {
  margin-bottom: 20px;
}

.featured-image-block .featured-image-block-title {
  font-weight: 600;
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1em;
  color: #404040;
}

.featured-image-block a:hover p {
  color: #1779ba;
}

/*Social media section*/

.social_header {
  font-size: 3em;
  font-family: 'Boogaloo', cursive;
}

.social-button {
  color: #fff;
}

.social-media-text {
  font-size: 2em;
}

.rounded-social-buttons {
  text-align: center;
}

.rounded-social-buttons .social-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 7.125rem;
  height: 7.125rem;
  border: 0.125rem solid transparent;
  padding: 0;
  text-decoration: none;
  text-align: center;
  font-size: 3.5625rem;
  font-weight: normal;
  line-height: 2em;
  border-radius: 3.6875rem;
  transition: all 0.5s ease;
  margin: 0.50rem  0.25rem;
}

.rounded-social-buttons .social-button:hover, .rounded-social-buttons .social-button:focus {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

.rounded-social-buttons .social-button.facebook {
  background: #3b5998;
}

.rounded-social-buttons .social-button.facebook:before {
  font-family: "FontAwesome";
  content: "";
}

.rounded-social-buttons .social-button.facebook:hover, .rounded-social-buttons .social-button.facebook:focus {
  color: #3b5998;
  background: #fefefe;
  border-color: #3b5998;
}

.rounded-social-buttons .social-button.linkedin {
  background: #007bb5;
}

.rounded-social-buttons .social-button.linkedin:before {
  font-family: "FontAwesome";
  content: "";
}

.rounded-social-buttons .social-button.linkedin:hover, .rounded-social-buttons .social-button.linkedin:focus {
  color: #007bb5;
  background: #fefefe;
  border-color: #007bb5;
}

.rounded-social-buttons .social-button.youtube {
  background: #b00;
}

.rounded-social-buttons .social-button.youtube:before {
  font-family: "FontAwesome";
  content: "";
}

.rounded-social-buttons .social-button.youtube:hover, .rounded-social-buttons .social-button.youtube:focus {
  color: #b00;
  background: #fefefe;
  border-color: #b00;
}

.rounded-social-buttons .social-button.github {
  background: #000;
}

.rounded-social-buttons .social-button.github:before {
  font-family: "FontAwesome";
  content: "";
}

.rounded-social-buttons .social-button.github:hover, .rounded-social-buttons .social-button.github:focus {
  color: #000;
  background: #fefefe;
  border-color: #000;
}
