@import url(http://weloveiconfonts.com/api/?family=entypo);
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}
.slogan{
  font-size: 7em;
}
.nav-bar{
  font-size: 5em;
}
.blog{
      /* Old browsers */
  background: #141E30;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(-45deg, #35577D, #141E30);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(-45deg, #35577D, #141E30);
  color: white;
}
#___ytsubscribe_0 {
	  position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
}
#___ytsubscribe_0 > {
	  position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
}
iframe {
  position: absolute;
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%;
	left: 0;
}
h1{
  font-size: 2em;
  font-weight: bold;
}
hr{
    border-bottom: 17px solid #000;
}
.social_header{
  font-size: 5em;
  font-family:'Boogaloo', cursive;
}
.fa {
  padding: 20px;
  font-size: 6em;
  width: 41%;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
  }

  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  .fa-github {
    background: white;
    color: black;
  }
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

  @media print, screen and (max-width: 500px) {
    .fa {font-size: 8em;}
    .social-media-text {font-size: 2em;}
    .mediagit {padding: 0px; font-size: 12em; margin: 0;}
    .slogan {font-size: 3em;}
    .nav-bar {font-size: 2em;}
   }